// Colors
$yellow: #cbd736;
$gray: #8c8c8c;
$white: #fff;
$black: #000;
$border-color: #606060;
$placeholder: #9f9f9f;

// Font weight
$bold: 700;
$regular: 400;

// Transitions and Animations
$transition: 0.5s;
