.container {
  &__logo {
    padding-top: 38px;
    display: flex;
    justify-content: center;
  }

  &__search {
    display: flex;
    justify-content: center;
    padding-top: 75px;
  }

  &__cards {
    margin: 100px 235px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
